extends _layout

block variables
  - const title = "404 | Resource not found";

block content
    section(class='content-container')
        h1(class='content-title text-red-500') 404 Resource not found!
        div(class='content-body after:bg-red-500')
            p
                | The resource you're looking for was not found on this server. It may have been moved or deleted, or
                | the request URL may be incorrect. Please verify the endpoint or contact support for assistance.