extends _layout

block variables
  - const title = "ShopSwift | Explore Shop Thrive"

block content
    section(class='content-container')
        h1(class='content-title') SwiftShop API
        div(class='content-body')
            p
                | A RESTful API built with Node.js and Express.js for the SwiftShop e-commerce site.
                | It supports secure user authentication, product management, shopping cart functionality,
                | and order tracking, using MongoDB for reliable data storage and JWT for secure access.
            p Explore the &#32;
                a(
                    href='https://github.com/sam4web/shopswift-backend'
                    class='text-primary font-medium hover:underline'
                    target='_blank'
                )
                    | source code
                | &#32;on GitHub to see the implementation details.

